/* css reset */
* {
  margin: 0%;
  padding: 0%;
}

/* css variable */
:root {
  --navbar-hight: 59px;
}

/*navigation bar: logo and images */
#logo {
  margin: 5px 13px;
}
#logo img {
  margin: 3px 8px;
  height: 79px;
}

/* navigation bar: list and styling */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0%;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

#navbar ul {
  display: flex;
  position: relative;
  align-items: center;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}

/* home styling */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 270px;
  justify-content: center;
  align-items: center;
}
#home::before {
  content: "";
  background: url("bg1.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 368px;
  width: 100%;
  z-index: -1;
  opacity: 0.75;
}
#home h1 {
  color: white;
  font-size: 2.5rem;
}
#home p {
  color: white;
  font-size: 1rem;
  text-align: center;
}

/* utility classes */
.h-primary {
  font-size: 4rem;
  padding: 0px;
}
.h-secondary {
  font-size: 2rem;
  padding: 12px;
}
.btn {
  padding: 6px 2px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 11px;
  font-size: 1.4rem;
  border-radius: 12px;
  cursor: pointer;
}
.center {
  text-align: center;
}

/* servises section */

#services {
  display: flex;
  margin: 50px;
}

#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 0px 6px;
  border-radius: 25px;
  background: rgb(221, 209, 209);
}
#services .box img {
  height: 140px;
  margin: auto;
  display: block;
}
#services .box p {
  font-size: 1.1rem;
}

/* Client section */
#clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

#clients-section {
  position: relative;
  /* height: 344px; */
}

#clients-section::before {
  content: "";
  position: absolute;
  background: url("bg.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

#clients img {
  height: 125px;
}

.clients-items {
  padding: 25px;
}

/* Contact section */

#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url("contact.jpg") no-repeat center center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  border-radius: 3px;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
}
#submit{
  margin: 4px;
  padding: 6px;
}
#submit:hover{
  background-color: red;
  color: darkred;
}

footer {
  /* align-items: center;
  justify-content: center; */
  background-color: black;
  color: white;
  padding: 15px 25px;
}

/* CSS RESET
/* *{
    margin: 0px;
    padding: 0px;
  } */

/* CSS VARIABLES */
/* .root{
    --navbar-hight:59px;
} */

/* NavigationBar */
/* #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
} */
